/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain;}
#container:not([style*="zoom"]) { -webkit-text-size-adjust:none;}
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; top:0; left:0; }
#container-wrap, #container { min-height:100%; width:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[data-fixed-action],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'] #container{ height:auto; min-height:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
/*body[data-scaled-to] * { -webkit-backface-visibility: hidden; }*/ /*fix blurry imgs*/
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
.spread-shift { position:absolute; }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .pageItem { image-rendering: -webkit-optimize-contrast; }
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .pageItem { image-rendering: optimizeSpeed; }
}}
@-moz-document url-prefix() {
  .pageItem { image-rendering: optimizeQuality; }
}
.svg-wrap { width:inherit !important; height:inherit !important; }
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
.pageItem.group[data-ani] { will-change: transform; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }
.page-scale-wrap { transform:translateZ(0); }
.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page-wrapper{
	will-change:transform;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }
.liquid .slideshow img { object-fit:contain; }

.in5-highlight {
	background:rgba(255,255,0,.6);
	mix-blend-mode:multiply;
	pointer-events:none;
	animation-name:in5-highlight-in,in5-highlight-in;
	animation-direction:normal,reverse;
	animation-delay:3s,3s;
	animation-duration:.5s,1s;
	animation-iteration-count:1,1;
}
@keyframes in5-highlight-in{ from{ opacity:0 } to { opacity: 1} }
.hidden { display:none !important; }
.skip-link-wrap { z-index: 1; position: fixed; }
[data-reader-only="1"]{
	transform: translateY(-100vh) !important;
	z-index:-1;
}
[data-reader-only="1"]:focus, [data-reader-only="1"]:active {
	transform: translateY(0%) !important;
	z-index:1;
}
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state * { pointer-events: inherit; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.liquid label > .state {
    width:100% !important;
    height:100% !important;
}
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }
.panzoom > .content {
	-ms-transform:none;
    -ms-transform-origin:auto;
    -webkit-transform:none;
    -webkit-transform-origin:auto;
    transform:none;
    transform-origin:auto;
}
.panzoom:not(.dragging) > .content {
	transition:all .3s;
}

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	flex-wrap:wrap;
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:2ex;padding-left:2ex; }
p.no-start-indent { text-indent:0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#ededed; }
:-webkit-full-screen { background:#ededed; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
.page-scale-wrap { width:1920px; height:1080px; background: #fff !important; }
.paper-vertical { width:1920px; height:100%; }
.paper-horizontal { width:4234px; height:1092px; }
@media all and (max-height:1080px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:1920px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}

#item231 {
	width:41px !important;
	height:41px !important;
	left:1595px !important;
	top:40px !important;
}

#item243 {
	width:42px !important;
	height:41px !important;
	left:1650px !important;
	top:40px !important;
}

#item251 {
	width:46px !important;
	height:46px !important;
	left:1704px !important;
	top:36px !important;
}

#item1488 {
	width:134px !important;
	height:51px !important;
	left:170px !important;
	top:31px !important;
}

#item35559 {
	width:75px !important;
	height:17px !important;
}

#item309 {
	width:75px !important;
	height:17px !important;
}

#item35544 {
	width:75px !important;
	height:17px !important;
	left:386px !important;
	top:64px !important;
}

#item35585 {
	width:102px !important;
	height:17px !important;
}

#item336 {
	width:102px !important;
	height:17px !important;
}

#item35545 {
	width:102px !important;
	height:17px !important;
	left:512px !important;
	top:64px !important;
}

#item35611 {
	width:109px !important;
	height:17px !important;
}

#item361 {
	width:109px !important;
	height:17px !important;
}

#item35546 {
	width:109px !important;
	height:17px !important;
	left:663px !important;
	top:64px !important;
}

#item35663 {
	width:92px !important;
	height:17px !important;
}

#item386 {
	width:92px !important;
	height:17px !important;
}

#item35547 {
	width:92px !important;
	height:17px !important;
	left:1032px !important;
	top:64px !important;
}

#item35690 {
	width:193px !important;
	height:17px !important;
}

#item411 {
	width:193px !important;
	height:17px !important;
}

#item35548 {
	width:193px !important;
	height:17px !important;
	left:1163px !important;
	top:64px !important;
}

#item35716 {
	width:128px !important;
	height:17px !important;
}

#item436 {
	width:128px !important;
	height:17px !important;
}

#item35549 {
	width:128px !important;
	height:17px !important;
	left:1391px !important;
	top:64px !important;
}

#item35637 {
	width:182px !important;
	height:17px !important;
}

#item461 {
	width:182px !important;
	height:17px !important;
}

#item35550 {
	width:182px !important;
	height:17px !important;
	left:810px !important;
	top:64px !important;
}

#item1255 {
	width:395px !important;
	height:135px !important;
	background:#f28620;
}

#item1280 {
	width:395px !important;
	height:181px !important;
	top:569px !important;
	background:#f28620;
	padding:25px 15px 25px 15px;
}

#item628 {
	width:395px !important;
	height:135px !important;
	background:#253885;
}

#item1246 {
	width:395px !important;
	height:750px !important;
	left:170px !important;
	top:933px !important;
}

#item1312 {
	width:395px !important;
	height:135px !important;
	background:#f28620;
}

#item1337 {
	width:395px !important;
	height:181px !important;
	top:569px !important;
	background:#f28620;
	padding:25px 15px 25px 15px;
}

#item679 {
	width:395px !important;
	height:135px !important;
	background:#253885;
}

#item1305 {
	width:395px !important;
	height:750px !important;
	left:565px !important;
	top:933px !important;
}

#item1369 {
	width:395px !important;
	height:135px !important;
	background:#f28620;
}

#item1394 {
	width:395px !important;
	height:181px !important;
	top:569px !important;
	background:#f28620;
	padding:25px 15px 25px 15px;
}

#item704 {
	width:395px !important;
	height:135px !important;
	background:#253885;
}

#item1362 {
	width:395px !important;
	height:750px !important;
	left:960px !important;
	top:933px !important;
}

#item1425 {
	width:395px !important;
	height:135px !important;
	background:#f28620;
}

#item1450 {
	width:395px !important;
	height:181px !important;
	top:569px !important;
	background:#f28620;
	padding:25px 15px 25px 15px;
}

#item729 {
	width:395px !important;
	height:135px !important;
	background:#253885;
}

#item1419 {
	width:395px !important;
	height:750px !important;
	left:1355px !important;
	top:933px !important;
}

#item896 {
	width:649px !important;
	height:91px !important;
	left:170px !important;
	top:113px !important;
	background:#fff;
	padding:25px 50px 25px 0px;
}

#item921 {
	width:749px !important;
	height:91px !important;
	left:170px !important;
	top:204px !important;
	background:#fff;
	padding:25px 50px 25px 0px;
}

#item946 {
	width:854px !important;
	height:91px !important;
	left:170px !important;
	top:296px !important;
	background:#fff;
	padding:25px 50px 25px 0px;
}

#item971 {
	width:298px !important;
	height:91px !important;
	left:170px !important;
	top:387px !important;
	background:#fff;
	padding:25px 50px 25px 0px;
}

#item1502 {
	width:263px !important;
	height:301px !important;
	left:170px !important;
	top:532px !important;
}

#item43492 {
	width:138px !important;
	height:91px !important;
	left:321px !important;
	top:19px !important;
}

#item43282 {
	width:138px !important;
	height:91px !important;
	left:584px !important;
	top:19px !important;
}

#item42791 {
	width:138px !important;
	height:91px !important;
	left:848px !important;
	top:19px !important;
}

#item42562 {
	width:138px !important;
	height:91px !important;
	left:1115px !important;
	top:19px !important;
}

#item42350 {
	width:138px !important;
	height:91px !important;
	left:1382px !important;
	top:19px !important;
}

#item41016 {
	width:1580px !important;
	height:262px !important;
	left:170px !important;
	top:1783px !important;
}

#item43925 {
	width:492px !important;
	top:449px !important;
	min-height:78px !important;
}

#item43673 {
	width:492px !important;
	top:449px !important;
	min-height:78px !important;
}

#item43918 {
	width:492px !important;
	height:527px !important;
	left:170px !important;
	top:2245px !important;
}

#item43893 {
	width:492px !important;
	top:449px !important;
	min-height:78px !important;
}

#item43768 {
	width:492px !important;
	top:449px !important;
	min-height:78px !important;
}

#item43887 {
	width:492px !important;
	height:527px !important;
	left:714px !important;
	top:2245px !important;
}

#item43861 {
	width:492px !important;
	top:449px !important;
	min-height:78px !important;
}

#item43793 {
	width:492px !important;
	top:449px !important;
	min-height:78px !important;
}

#item43855 {
	width:492px !important;
	height:527px !important;
	left:1258px !important;
	top:2245px !important;
}

#item43965 {
	width:230px !important;
	height:262px !important;
	left:170px !important;
	top:2972px !important;
}

#item43987 {
	width:296px !important;
	left:459px !important;
	top:2980px !important;
	min-height:254px !important;
}

#item44010 {
	width:296px !important;
	left:1454px !important;
	top:3051px !important;
	min-height:16px !important;
}

#item49992 {
	width:27px !important;
	height:27px !important;
	left:1063px !important;
	top:27px !important;
}

#item50002 {
	width:28px !important;
	height:28px !important;
	left:1100px !important;
	top:27px !important;
}

#item50010 {
	width:30px !important;
	height:31px !important;
	left:1136px !important;
	top:24px !important;
}

#item50020 {
	width:89px !important;
	height:34px !important;
	left:113px !important;
	top:21px !important;
}

#item52872 {
	width:50px !important;
	height:11px !important;
}

#item50143 {
	width:50px !important;
	height:11px !important;
}

#item52863 {
	width:50px !important;
	height:11px !important;
	left:257px !important;
	top:43px !important;
}

#item52898 {
	width:68px !important;
	height:11px !important;
}

#item50196 {
	width:68px !important;
	height:11px !important;
}

#item52862 {
	width:68px !important;
	height:11px !important;
	left:342px !important;
	top:43px !important;
}

#item52924 {
	width:73px !important;
	height:11px !important;
}

#item50249 {
	width:73px !important;
	height:11px !important;
}

#item52861 {
	width:73px !important;
	height:11px !important;
	left:442px !important;
	top:43px !important;
}

#item52977 {
	width:61px !important;
	height:11px !important;
}

#item50303 {
	width:61px !important;
	height:11px !important;
}

#item52859 {
	width:61px !important;
	height:11px !important;
	left:688px !important;
	top:43px !important;
}

#item53003 {
	width:129px !important;
	height:11px !important;
}

#item50356 {
	width:129px !important;
	height:11px !important;
}

#item52858 {
	width:129px !important;
	height:11px !important;
	left:775px !important;
	top:43px !important;
}

#item53029 {
	width:86px !important;
	height:11px !important;
}

#item50409 {
	width:86px !important;
	height:11px !important;
}

#item52857 {
	width:86px !important;
	height:11px !important;
	left:927px !important;
	top:43px !important;
}

#item52951 {
	width:121px !important;
	height:11px !important;
}

#item50462 {
	width:121px !important;
	height:11px !important;
}

#item52860 {
	width:121px !important;
	height:11px !important;
	left:540px !important;
	top:43px !important;
}

#item53060 {
	width:263px !important;
	height:90px !important;
	background:#f28620;
}

#item53085 {
	width:263px !important;
	height:121px !important;
	top:379px !important;
	background:#f28620;
	padding:17px 10px 17px 10px;
}

#item50531 {
	width:263px !important;
	height:90px !important;
	background:#253885;
}

#item52853 {
	width:263px !important;
	height:500px !important;
	left:113px !important;
	top:622px !important;
}

#item53115 {
	width:263px !important;
	height:90px !important;
	background:#f28620;
}

#item53140 {
	width:263px !important;
	height:121px !important;
	top:379px !important;
	background:#f28620;
	padding:17px 10px 17px 10px;
}

#item50622 {
	width:263px !important;
	height:90px !important;
	background:#253885;
}

#item52854 {
	width:263px !important;
	height:500px !important;
	left:377px !important;
	top:622px !important;
}

#item53170 {
	width:263px !important;
	height:90px !important;
	background:#f28620;
}

#item53196 {
	width:263px !important;
	height:121px !important;
	top:379px !important;
	background:#f28620;
	padding:17px 10px 17px 10px;
}

#item50710 {
	width:263px !important;
	height:90px !important;
	background:#253885;
}

#item52855 {
	width:263px !important;
	height:500px !important;
	left:640px !important;
	top:622px !important;
}

#item53226 {
	width:263px !important;
	height:90px !important;
	background:#f28620;
}

#item53251 {
	width:263px !important;
	height:121px !important;
	top:379px !important;
	background:#f28620;
	padding:17px 10px 17px 10px;
}

#item50799 {
	width:263px !important;
	height:90px !important;
	background:#253885;
}

#item52856 {
	width:263px !important;
	height:500px !important;
	left:903px !important;
	top:622px !important;
}

#item50849 {
	width:433px !important;
	height:61px !important;
	left:113px !important;
	top:75px !important;
	background:#fff;
	padding:17px 33px 17px 0px;
}

#item50875 {
	width:499px !important;
	height:61px !important;
	left:113px !important;
	top:136px !important;
	background:#fff;
	padding:17px 33px 17px 0px;
}

#item50900 {
	width:569px !important;
	height:61px !important;
	left:113px !important;
	top:197px !important;
	background:#fff;
	padding:17px 33px 17px 0px;
}

#item50925 {
	width:199px !important;
	height:61px !important;
	left:113px !important;
	top:258px !important;
	background:#fff;
	padding:17px 33px 17px 0px;
}

#item50950 {
	width:175px !important;
	height:201px !important;
	left:113px !important;
	top:354px !important;
}

#item50995 {
	width:92px !important;
	height:61px !important;
	left:214px !important;
	top:13px !important;
}

#item52242 {
	width:92px !important;
	height:61px !important;
	left:389px !important;
	top:13px !important;
}

#item52116 {
	width:92px !important;
	height:61px !important;
	left:565px !important;
	top:13px !important;
}

#item51939 {
	width:92px !important;
	height:61px !important;
	left:743px !important;
	top:13px !important;
}

#item51778 {
	width:92px !important;
	height:61px !important;
	left:922px !important;
	top:13px !important;
}

#item50956 {
	width:1053px !important;
	height:174px !important;
	left:113px !important;
	top:1189px !important;
}

#item53342 {
	width:328px !important;
	top:300px !important;
	min-height:52px !important;
}

#item52426 {
	width:328px !important;
	top:300px !important;
	min-height:52px !important;
}

#item52852 {
	width:328px !important;
	height:351px !important;
	left:113px !important;
	top:1496px !important;
}

#item53312 {
	width:328px !important;
	top:300px !important;
	min-height:52px !important;
}

#item52497 {
	width:328px !important;
	top:300px !important;
	min-height:52px !important;
}

#item52851 {
	width:328px !important;
	height:351px !important;
	left:476px !important;
	top:1496px !important;
}

#item53281 {
	width:328px !important;
	top:300px !important;
	min-height:52px !important;
}

#item52562 {
	width:328px !important;
	top:300px !important;
	min-height:52px !important;
}

#item52850 {
	width:328px !important;
	height:351px !important;
	left:839px !important;
	top:1496px !important;
}

#item52588 {
	width:153px !important;
	height:174px !important;
	left:113px !important;
	top:1981px !important;
}

#item52593 {
	width:197px !important;
	left:306px !important;
	top:1986px !important;
	min-height:169px !important;
}

#item52618 {
	width:197px !important;
	left:969px !important;
	top:2034px !important;
	min-height:11px !important;
}

#item56522 {
	width:22px !important;
	height:22px !important;
	left:851px !important;
	top:22px !important;
}

#item56532 {
	width:22px !important;
	height:22px !important;
	left:880px !important;
	top:22px !important;
}

#item56540 {
	width:24px !important;
	height:25px !important;
	left:909px !important;
	top:19px !important;
}

#item56551 {
	width:71px !important;
	height:27px !important;
	left:91px !important;
	top:17px !important;
}

#item59674 {
	width:40px !important;
	height:9px !important;
}

#item56676 {
	width:40px !important;
	height:9px !important;
}

#item59347 {
	width:40px !important;
	height:9px !important;
	left:206px !important;
	top:34px !important;
}

#item59700 {
	width:55px !important;
	height:9px !important;
}

#item56730 {
	width:55px !important;
	height:9px !important;
}

#item59346 {
	width:55px !important;
	height:9px !important;
	left:273px !important;
	top:34px !important;
}

#item59726 {
	width:58px !important;
	height:9px !important;
}

#item56783 {
	width:58px !important;
	height:9px !important;
}

#item59345 {
	width:58px !important;
	height:9px !important;
	left:353px !important;
	top:34px !important;
}

#item59779 {
	width:49px !important;
	height:9px !important;
}

#item56836 {
	width:49px !important;
	height:9px !important;
}

#item59343 {
	width:49px !important;
	height:9px !important;
	left:550px !important;
	top:34px !important;
}

#item59829 {
	width:103px !important;
	height:9px !important;
}

#item56889 {
	width:103px !important;
	height:9px !important;
}

#item59342 {
	width:103px !important;
	height:9px !important;
	left:620px !important;
	top:34px !important;
}

#item59855 {
	width:68px !important;
	height:9px !important;
}

#item56942 {
	width:68px !important;
	height:9px !important;
}

#item59341 {
	width:68px !important;
	height:9px !important;
	left:742px !important;
	top:34px !important;
}

#item59752 {
	width:97px !important;
	height:9px !important;
}

#item56995 {
	width:97px !important;
	height:9px !important;
}

#item59344 {
	width:97px !important;
	height:9px !important;
	left:432px !important;
	top:34px !important;
}

#item59623 {
	width:211px !important;
	height:72px !important;
	background:#f28620;
}

#item59648 {
	width:211px !important;
	height:97px !important;
	top:303px !important;
	background:#f28620;
	padding:13px 8px 13px 8px;
}

#item57060 {
	width:211px !important;
	height:72px !important;
	background:#253885;
}

#item59337 {
	width:211px !important;
	height:400px !important;
	left:91px !important;
	top:498px !important;
}

#item59567 {
	width:211px !important;
	height:72px !important;
	background:#f28620;
}

#item59592 {
	width:211px !important;
	height:97px !important;
	top:303px !important;
	background:#f28620;
	padding:13px 8px 13px 8px;
}

#item57154 {
	width:211px !important;
	height:72px !important;
	background:#253885;
}

#item59338 {
	width:211px !important;
	height:400px !important;
	left:301px !important;
	top:498px !important;
}

#item59506 {
	width:211px !important;
	height:72px !important;
	background:#f28620;
}

#item59531 {
	width:211px !important;
	height:97px !important;
	top:303px !important;
	background:#f28620;
	padding:13px 8px 13px 8px;
}

#item57245 {
	width:211px !important;
	height:72px !important;
	background:#253885;
}

#item59339 {
	width:211px !important;
	height:400px !important;
	left:512px !important;
	top:498px !important;
}

#item59450 {
	width:211px !important;
	height:72px !important;
	background:#f28620;
}

#item59475 {
	width:211px !important;
	height:97px !important;
	top:303px !important;
	background:#f28620;
	padding:13px 8px 13px 8px;
}

#item57333 {
	width:211px !important;
	height:72px !important;
	background:#253885;
}

#item59340 {
	width:211px !important;
	height:400px !important;
	left:723px !important;
	top:498px !important;
}

#item57383 {
	width:346px !important;
	height:49px !important;
	left:91px !important;
	top:60px !important;
	background:#fff;
	padding:13px 27px 13px 0px;
}

#item57408 {
	width:399px !important;
	height:49px !important;
	left:91px !important;
	top:109px !important;
	background:#fff;
	padding:13px 27px 13px 0px;
}

#item57433 {
	width:455px !important;
	height:49px !important;
	left:91px !important;
	top:158px !important;
	background:#fff;
	padding:13px 27px 13px 0px;
}

#item57459 {
	width:159px !important;
	height:49px !important;
	left:91px !important;
	top:207px !important;
	background:#fff;
	padding:13px 27px 13px 0px;
}

#item57485 {
	width:140px !important;
	height:161px !important;
	left:91px !important;
	top:283px !important;
}

#item57530 {
	width:74px !important;
	height:49px !important;
	left:171px !important;
	top:10px !important;
}

#item58779 {
	width:74px !important;
	height:49px !important;
	left:312px !important;
	top:10px !important;
}

#item58651 {
	width:74px !important;
	height:49px !important;
	left:452px !important;
	top:10px !important;
}

#item58477 {
	width:74px !important;
	height:49px !important;
	left:595px !important;
	top:10px !important;
}

#item58313 {
	width:74px !important;
	height:49px !important;
	left:737px !important;
	top:10px !important;
}

#item57491 {
	width:843px !important;
	height:140px !important;
	left:91px !important;
	top:951px !important;
}

#item59360 {
	width:262px !important;
	top:240px !important;
	min-height:41px !important;
}

#item58962 {
	width:262px !important;
	top:240px !important;
	min-height:41px !important;
}

#item59336 {
	width:262px !important;
	height:281px !important;
	left:91px !important;
	top:1197px !important;
}

#item59390 {
	width:262px !important;
	top:240px !important;
	min-height:41px !important;
}

#item59026 {
	width:262px !important;
	top:240px !important;
	min-height:41px !important;
}

#item59335 {
	width:262px !important;
	height:281px !important;
	left:381px !important;
	top:1197px !important;
}

#item59420 {
	width:262px !important;
	top:240px !important;
	min-height:41px !important;
}

#item59095 {
	width:262px !important;
	top:240px !important;
	min-height:41px !important;
}

#item59334 {
	width:262px !important;
	height:281px !important;
	left:671px !important;
	top:1197px !important;
}

#item59120 {
	width:123px !important;
	height:140px !important;
	left:91px !important;
	top:1585px !important;
}

#item59125 {
	width:158px !important;
	left:245px !important;
	top:1589px !important;
	min-height:135px !important;
}

#item59150 {
	width:158px !important;
	left:776px !important;
	top:1627px !important;
	min-height:9px !important;
}

p.autoParaStyle27 {
	font-family:Arial,sans-serif;
	font-size:11.7px;
	line-height:14.1px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:right;
}

p.autoParaStyle26 {
	font-family:Arial,sans-serif;
	font-size:11.7px;
	line-height:14.1px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle25 {
	font-family:Arial,sans-serif;
	font-size:11.7px;
	line-height:14.1px;
	color:#ffffff;
	text-transform:uppercase;
	text-align:center;
}

p.autoParaStyle24 {
	font-family:Arial,sans-serif;
	font-size:11.7px;
	line-height:14.1px;
	color:#ffffff;
	text-align:center;
}

p.autoParaStyle23 {
	font-weight:300;
	font-family:"Gill Sans",sans-serif;
	font-size:32px;
	line-height:38.4px;
	color:#000;
	text-transform:uppercase;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle22 {
	font-family:Arial,sans-serif;
	font-size:11.7px;
	line-height:14.1px;
	color:#fff;
	text-align:center;
}

p.autoParaStyle21 {
	font-weight:300;
	font-family:"Gill Sans",sans-serif;
	font-size:19.2px;
	line-height:23px;
	color:#ffffff;
	text-transform:uppercase;
	text-align:center;
}

p.autoParaStyle20 {
	font-family:Arial,sans-serif;
	font-size:11.7px;
	line-height:14.1px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle19 {
	font-family:Arial,sans-serif;
	font-size:11.7px;
	line-height:14.1px;
	color:#f28620;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle18 {
	font-family:Arial,sans-serif;
	font-size:14.7px;
	line-height:17.6px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:right;
}

p.autoParaStyle17 {
	font-family:Arial,sans-serif;
	font-size:14.7px;
	line-height:17.6px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle16 {
	font-family:Arial,sans-serif;
	font-size:14.7px;
	line-height:17.6px;
	color:#ffffff;
	text-transform:uppercase;
	text-align:center;
}

p.autoParaStyle15 {
	font-family:Arial,sans-serif;
	font-size:14.7px;
	line-height:17.6px;
	color:#ffffff;
	text-align:center;
}

p.autoParaStyle14 {
	font-weight:300;
	font-family:"Gill Sans",sans-serif;
	font-size:40px;
	line-height:48px;
	color:#000;
	text-transform:uppercase;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle13 {
	font-family:Arial,sans-serif;
	font-size:14.7px;
	line-height:17.6px;
	color:#fff;
	text-align:center;
}

p.autoParaStyle12 {
	font-weight:300;
	font-family:"Gill Sans",sans-serif;
	font-size:24px;
	line-height:28.8px;
	color:#ffffff;
	text-transform:uppercase;
	text-align:center;
}

p.autoParaStyle11 {
	font-family:Arial,sans-serif;
	font-size:14.7px;
	line-height:17.6px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle10 {
	font-family:Arial,sans-serif;
	font-size:14.7px;
	line-height:17.6px;
	color:#f28620;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle9 {
	font-family:Arial,sans-serif;
	font-size:22px;
	line-height:26.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:right;
}

p.autoParaStyle8 {
	font-family:Arial,sans-serif;
	font-size:22px;
	line-height:26.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle7 {
	font-family:Arial,sans-serif;
	font-size:22px;
	line-height:26.4px;
	color:#ffffff;
	text-transform:uppercase;
	text-align:center;
}

p.autoParaStyle6 {
	font-family:Arial,sans-serif;
	font-size:22px;
	line-height:26.4px;
	color:#ffffff;
	text-align:center;
}

p.autoParaStyle5 {
	font-weight:300;
	font-family:"Gill Sans",sans-serif;
	font-size:60px;
	line-height:72px;
	color:#000;
	text-transform:uppercase;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle4 {
	font-family:Arial,sans-serif;
	font-size:22px;
	line-height:26.4px;
	color:#fff;
	text-align:center;
}

p.autoParaStyle3 {
	font-weight:300;
	font-family:"Gill Sans",sans-serif;
	font-size:36px;
	line-height:43.2px;
	color:#ffffff;
	text-transform:uppercase;
	text-align:center;
}

p.autoParaStyle2 {
	font-family:Arial,sans-serif;
	font-size:22px;
	line-height:26.4px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle1 {
	font-family:Arial,sans-serif;
	font-size:22px;
	line-height:26.4px;
	color:#f28620;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.Basic-Paragraph {
	font-family:"Minion Pro","Times New Roman", Times, serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.No-Paragraph-Style {
	font-family:"Minion Pro","Times New Roman", Times, serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

span.None {
}
#in5footer,  #prefooter {display:none;}

[class*=" mq-"]{ display:none; }
.mq-default { display:block; }
@media all and (max-width:1440px){ [class*=" mq-"], .mq-default { display:none; } .mq-1280 {display:block; } }
@media all and (max-width:1184px){ [class*=" mq-"], .mq-default { display:none; } .mq-1024 {display:block; } }

#loadIndicator{display:none;}
